.node-type-landing,
body.map {
  .header-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
  }
}

.navbar.container {
  margin-top: 0;
}

.navbar-inverse {
  border-radius: 0;
  background: none !important;
  border: none !important;

  .navbar-nav > li > a {
    color: white;
    border-bottom: transparent 3px solid;
    text-transform: uppercase;
    font-size: 14px;
  }

  .navbar-collapse {
    background: #101010;
    width: 100%;
    margin-right: 0;
    margin-left: 0;

    #block-locale-language {
      margin-left: 0;
    }
  }
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background: none;
  border-bottom-color: @azp-red;
}

@media (min-width: 1200px) {
  .navbar-nav {
    float: right;
    margin-top: 23px;

    > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .region-navigation {
    float: right;
  }
}

.events,
body.contacts {
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
  }

  .navbar-inverse .navbar-collapse.collapse.in  li  a {
    color: white;
  }
}

#block-locale-language {
  padding-top: 26px;
  margin-left: 100px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      float: left;
      margin-right: 10px;

      &.uk {
        //display: none;
      }

      &.active {
        display: none;
      }

      a {
        color: @azp-red;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: @azp-red 1px solid;
        border-radius: 100%;
        font-weight: bold;
        font-size: 16px;

        &:hover {
          background-color: @azp-red;
          color: white;
        }
      }
    }
  }
}

.admin-menu {
  .navbar-inverse {
    .navbar-nav > li > a {
      color: black !important;
    }
  }
}

.logo {
  img {
    max-width: 220px;
  }
}

.page-events,
body.contacts,
.node-type-event,
.node-type-news {
  .page-header {
    display: none;
  }

  .navbar-inverse {
    .navbar-nav > li > a {
      color: #58595b;
    }
  }

  #block-locale-language {
    ul {
      li {
        a {
          color: @azp-red;
          border: @azp-red 1px solid;

          &:hover {
            background-color: @azp-red;
            color: #58595b;
          }
        }
      }
    }
  }

  .view-header {
    > ul {
      margin-left: 0;
      padding-left: 0;
      overflow: hidden;

      li {
        list-style: none;
        float: left;
        margin-right: 20px;

        a {
          color: #58595b;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.inverse-logo {
  display: none;
}

.contacts {
  .logo {
    img {
      display: none;

      &.inverse-logo {
        display: inline;
      }
    }
  }
}

