.events {
  #block-system-main {
    .container();
    .XLcontainer();
  }
}


//Calendar cells

.calendar-calendar div.day {
  float: none;
}

.calendar-calendar .week-view .full .calendar-agenda-hour {
  display: none;
}

.calendar-calendar td,
.calendar-calendar th.days,
.calendar-calendar td.empty,
.calendar-calendar .month-view .full tr td.single-day.today,
.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar td.calendar-agenda-items {
  border: white 2px solid;
}

.calendar-calendar .month-view .full tr td.single-day.today {
  border-top: none;
}

.calendar-calendar .month-view .full td.date-box.today {
  border-bottom: none;
}

.calendar-calendar .month-view .full tr td.multi-day,
.calendar-calendar .month-view .full tr td.date-box {
  background: @azp-red;
  color: white;
  font-size: 14px;

  &.no-entry {
    background: #f1f2f2;
    color: #58595b;
  }
}

.calendar-calendar .month-view .full tr td.multi-day,
.calendar-calendar .month-view .full tr td.single-day,
.calendar-agenda-items,
.calendar-calendar div.calendar {
  background: @azp-red;
  letter-spacing: normal;

  &.no-entry {
    background: #f1f2f2;
  }
}

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview {
  background: @azp-red;
  margin-bottom: 10px;

  a {
    color: white;
  }
}

//Node-event
.node-event {
  .event-summary {
    float: right;
    margin: 20px 0 20px 20px;
    padding: 20px;
    border: gray 1px solid;
    width: 300px;
    clear: right;

    .field-name-field-date {
      clear: both;
    }
  }
}

.page-events {
  .page-header {
    display: none;
  }

  .navbar-inverse {
    .navbar-nav > li > a {
      color: #58595b;
    }
  }

  #block-locale-language {
    ul {
      li {
        a {
          color: @azp-red;
          border: @azp-red 1px solid;

          &:hover {
            background-color: @azp-red;
            color: #58595b;
          }
        }
      }
    }
  }

  .view-header {
    > ul {
      margin-left: 0;
      padding-left: 0;
      overflow: hidden;

      li {
        list-style: none;
        float: left;
        margin-right: 20px;

        a {
          color: #58595b;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
}


#block-views-events-calendar-block-2 {
  .container();
  .XLcontainer();

  a {
    white-space: normal;
  }

  .col {
    position: relative;
    margin-bottom: 60px;
  }

  .views-field-field-date {
    margin-top: 20px;
    padding-bottom: 20px;
    color: @azp-red;
    padding-left: 20px;
    padding-right: 20px;
  }

  .views-field-title {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: @title;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .views-field-body {
      margin-bottom: 40px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
  }

  .views-field-nothing {
      position: absolute;
      bottom: 0;
      margin-top: 40px;
      text-align: center;
      width: calc(~"100% - 100px");

    a {
      .button(@azp-red);
    }
  }
}

.view-id-events_4_main {
  padding-top: 100px;
  padding-bottom: 100px;

  &.view-display-id-block {
    .container();
    .XLcontainer();
  }

  a {
    white-space: normal;
  }

  > .view-content {
    > .views-row {
      @media (min-width: @screen-md-min) {
        display: flex;
        align-items: center;
      }

      @media (min-width: @screen-md-min) {
        .views-field-field-image,
        .views-field-nothing {
          .make-sm-column(6);
        }
      }

      .views-field-nothing {
        padding-left: 100% / 12;
        position: relative;

        @media (min-width: @screen-md-min) {
          display: flex;
          align-items: center;
          justify-content: center;

          &:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 50%;
            z-index: 99;
            top: 0;
            right: 0;
            background: url('../images/events-right-overlay.png') no-repeat center right;
            background-size: contain;
          }
        }

        .views-field-field-date {
          padding-bottom: 30px;
          color: @azp-red;
        }

        .views-field-title {
          margin-bottom: 30px;
          color: @title;
          font-size: 24px;
          text-transform: uppercase;
          font-weight: bold;
          border: none;
          text-align: left;
          padding: 0;
        }

        .views-field-body {
          margin-bottom: 30px;
          padding-bottom: 30px;
        }

        .views-field-view-node {
          position: absolute;
          bottom: 0;

          a {
            .button(@azp-red);
          }
        }
      }
    }
  }

  .attachment {
    .col {
      position: relative;
    }

    .views-field-field-date {
      margin-top: 20px;
      padding-bottom: 20px;
      color: @azp-red;
      padding-left: 20px;
      padding-right: 20px;
    }

    .views-field-title {
      margin-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
      color: @title;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .views-field-body {
      margin-bottom: 40px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .views-field-view-node {
      position: absolute;
      bottom: 0;
      margin-top: 40px;
      text-align: center;
      width: calc(~"100% - 100px");

      a {
        .button(@azp-red);
      }
    }
  }
}