.carousel-container {
  img {
    width: 100%;
    height: auto;
  }
}

.paragraphs-items {
  .field-name-field-link {
    a {
      .button(@azp-red);
    }
  }
}



.paragraphs-item-p-teaser {
  > .content {
    .XLcontainer;
  }

  margin-top: 45px;
  margin-bottom: 45px;

  @media (min-width: @screen-md-min) {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .field-name-field-long-text {
    @media (min-width: @screen-lg-min) {
      .make-sm-column(7);
    }
  }

  .carousel-container {
    @media (min-width: @screen-lg-min) {
      .make-sm-column(4);
      .make-sm-column-push(1);
    }
  }
}

.paragraphs-item-text-with-image-and-link {
  padding-top: 60px;
  padding-bottom: 60px;

  > .content {
    .XLcontainer;

    @media (min-width: @screen-lg-min) {
      display: flex;
      align-items: center;
    }
  }

  .text-section {
    @media (min-width: @screen-lg-min) {
      .make-sm-column(4);
      .make-sm-column-push(1);
    }

    .field-name-field-title {
      font-size: 24px;
      .title();
      margin-bottom: 40px;
    }

    .field-name-field-long-text {
      line-height: 36px;
      margin-bottom: 40px;
    }
  }

  .carousel-container {
    @media (min-width: @screen-lg-min) {
      .make-sm-column(6);
      .make-sm-column-push(2);
    }
  }
}

.paragraphs-item-paragraphs-pack-node-list {
  > .content {
    .XLcontainer;
  }

  @media (min-width: @screen-lg-min) {
    > .content > .field-type-entityreference > .field-items {
      display: flex;
    }

    > .content > .field-type-entityreference > .field-items > .field-item {
      .make-sm-column(4);
    }
  }

  .node {
    padding: 30px;

  }
}

.paragraphs-item-landing-header {
  position: relative;

  &:after {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url('../images/scroll.png') no-repeat center center;
    background-size: contain;
    z-index: 99;
    animation: pulsate 1s linear infinite;
  }

  &.scrolled {
    &:after {
      opacity: 0;
    }
  }
}

@keyframes pulsate {
  0% {bottom: 20px;}
  50% {bottom: -5px;}
  100% {bottom: 20px;}
}